/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/*Nav bar*/

nav {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: bisque;
    flex: 1 0  auto;
    margin-top: 47px;
}

/* Footer */

#socials {
    display: flex;
    text-align: center;
    padding: 20px 5px;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 170%;
    color: #3a3a3a;
}
/*media quary for tablets and bigger*/
@media screen and (min-width:768px){
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 250%;
        line-height: 70px;
        margin: 0 1rem;
    }

    main {
        margin-top: 71px;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}